body { font-family: "Roboto","Helvetica","Arial",sans-serif;}
.slide1 {
    background-image: url('/images/mano.jpg');
}
.slide2{
    background-image: url('/images/comingsoon4.jpg');
}
.customizer_repeater_56d7ea7f40b56 .icon {
    color: #2c82c9;
}.customizer_repeater_56d7ea7f40b66 .icon {
    color: #e25041;
}.customizer_repeater_56d7ea7f40b86 .icon {
    color: #2969b0;
}

a,.blogs article:nth-child(6n+1) .category a, a:hover, .card-blog a.moretag:hover, .card-blog a.more-link:hover, .widget a:hover, .navbar.navbar-color-on-scroll:not(.navbar-transparent) li.active a {
color:#337ab7;
}


input[type="submit"],
input[type="submit"]:hover,
input#searchsubmit, 
.pagination > li > span.current, 
.pagination > li > span.current:focus, 
.pagination > li > span.current:hover,
.btn.btn-primary,
.btn.btn-primary:link,
.btn.btn-primary:hover, 
.btn.btn-primary:focus, 
.btn.btn-primary:active, 
.btn.btn-primary.active, 
.btn.btn-primary.active:focus, 
.btn.btn-primary.active:hover,
.btn.btn-primary:active:hover, 
.btn.btn-primary:active:focus, 
.btn.btn-primary:active:hover, 

.open > .btn.btn-primary.dropdown-toggle, 
.open > .btn.btn-primary.dropdown-toggle:focus, 
.open > .btn.btn-primary.dropdown-toggle:hover,
.navbar .dropdown-menu li > a:hover, 
.navbar .dropdown-menu li > a:focus, 
.navbar.navbar-default .dropdown-menu li > a:hover, 
.navbar.navbar-default .dropdown-menu li > a:focus,
.label.label-primary,
.work .portfolio-item:nth-child(6n+1) .label,

.added_to_cart.wc-forward:hover, 
#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover, 
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.added_to_cart.wc-forward, 
.woocommerce-message a.button,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce ul.products li.product .onsale, 
.woocommerce span.onsale,
.woocommerce .single-product div.product form.cart .button, 
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled],
.woocommerce a.button.wc-backward:hover, 
.woocommerce a.button.wc-backward, 
.woocommerce .single-product div.product form.cart .button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce-message a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce input.button:disabled:hover, 
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li.active a, 
.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li.active a:hover,
.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce #respond input#submit.alt:disabled[disabled]:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt:disabled[disabled], 
.woocommerce a.button.alt:disabled[disabled]:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt:disabled[disabled], 
.woocommerce button.button.alt:disabled[disabled]:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled], 
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce a.button.woocommerce-Button{
background-color: #337ab7;
}

input[type="submit"], 
.btn.btn-primary,
.added_to_cart.wc-forward, 
.woocommerce .single-product div.product form.cart .button, 
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button, 
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled],
.woocommerce-message a.button,
.woocommerce a.button.wc-backward {
-webkit-box-shadow: 0 2px 2px 0 rgba(51,122,183,0.14),0 3px 1px -2px rgba(51,122,183,0.2),0 1px 5px 0 rgba(51,122,183,0.12);
box-shadow: 0 2px 2px 0 rgba(51,122,183,0.14),0 3px 1px -2px rgba(51,122,183,0.2),0 1px 5px 0 rgba(51,122,183,0.12);
}

.card .header-primary, .card .content-primary {
background: #337ab7;
}
input[type="submit"]:hover
input#searchsubmit:hover, 
.pagination > li > span.current, 
.btn.btn-primary:hover, 
.btn.btn-primary:focus, 
.btn.btn-primary:active, 
.btn.btn-primary.active, 
.btn.btn-primary:active:focus, 
.btn.btn-primary:active:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current,
.added_to_cart.wc-forward:hover, 
.woocommerce .single-product div.product form.cart .button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce input.button:disabled:hover, 
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li.active a, 
.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li.active a:hover,
.woocommerce-message a.button:hover,
.woocommerce a.button.wc-backward:hover {
-webkit-box-shadow: 0 14px 26px -12pxrgba(51,122,183,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(51,122,183,0.2);
box-shadow: 0 14px 26px -12px rgba(51,122,183,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(51,122,183,0.2);
}
.form-group.is-focused .form-control {
background-image: -webkit-gradient(linear,left top, left bottom,from(#337ab7),to(#337ab7)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
background-image: -webkit-linear-gradient(#337ab7),to(#337ab7),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
background-image: linear-gradient(#337ab7),to(#337ab7),linear-gradient(#d2d2d2,#d2d2d2);
}
